@use "variables" as *;
@use "mixins" as *;

// ――――――――――――――――――――――――― global
html {
  scroll-behavior: smooth;
  overflow-x: clip;
}

// ――――――――――――――――――――――――― 
body {
  min-height: 100vh;
  background-color: #fffbea;
  font-size: 1rem;
  line-height: 1.7;
  color: $color-base;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// ――――――――――――――――――――――――― hamburger-menu展開時スクロール不可にする。
html:has(body.is-nav-open),
body.is-nav-open {
  overflow: hidden;
  overscroll-behavior: none;
}
// ――――――――――――――――――――――――― 
a {
  display: block;
  cursor: pointer;
}
// ――――――――――――――――――――――――― 
img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
// ――――――――――――――――――――――――― 
button {
  cursor: pointer;
}
// ――――――――――――――――――――――――― 
.section {
  padding: 80px 20px;
}
// ――――――――――――――――――――――――― 
.inner {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
// ――――――――――――――――――――――――― 
.section-title {

}
// ――――――――――――――――――――――――― 
.title {

}

// ――――――――――――――――――――――――― タブレット
@include tb {
  // ――――――――――――――――――――――――― 
}

// ――――――――――――――――――――――――― スマホ
@include sp {
  // ――――――――――――――――――――――――― 
  .section {
    padding: 48px 20px;
  }
}