---
import { Icon } from 'astro-icon/components';
---
<footer class="footer">
  <div class="footer-inner">

  </div>
</footer>

<style lang="scss">
  @use "../../styles/variables" as *;
  @use "../../styles/mixins" as *;

  // ―――――――――――――――――――――――――――――――――――

  //―――――――――――――――――――――――――――――――――――――― タブレット
  @include tb {

  }

  //―――――――――――――――――――――――――――――――――――――― スマホ
  @include sp {

  }
</style>