---
import { Icon } from 'astro-icon/components';
---
<header class="header">
  <div class="header-inner">

  </div>
</header>

<style lang="scss">
  @use "../../styles/variables" as *;
  @use "../../styles/mixins" as *;

  // ―――――――――――――――――――――――――――――――――――
  .header {

  }
  // ―――――――――――――――――――――――――――――――――――
  .header-inner {

  }
  //―――――――――――――――――――――――――――――――――――――― タブレット
  @include tb {

  }

  //―――――――――――――――――――――――――――――――――――――― スマホ
  @include sp {

  }
</style>